:root {
  /* 顏色 */
  color: #41464b;
  --grey-color: #41464b;
  --main-color: #265f74;
  --khak-color: #a79a7e;
  --red-color: #61002d;
  --blue-color: #4a81b0;
  --orange-color: #be7844;
  --purple-color: #533b7e;
  --light-grey-color: #bfbfbf;
  --light-green-color: #6194a7;
  --light-khak-color: #e3dccb;
  --light-red-color: #e2c4d2;
  --light-blue-color: #cee4f6;
  --light-orange-color: #f5e7d7;
  --light-purple-color: #e0d7f3;
  --bg-color: #aaa;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------模組------ */
/* 連結顏色 */
a {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 2px;
}
a:hover {
  text-decoration: none;
  color: var(--main-color);
}

/* ------背景顏色-模組------ */
/* 背景顏色-綠色 */
.bg-green-color {
  background: var(--main-color);
}
/* 背景顏色-淺綠色 */
.bg-light-green-color {
  background: var(--light-green-color);
}
/* 背景顏色-卡其色 */
.bg-khak-color {
  background: var(--khak-color);
}
/* 背景顏色-淺卡其色 */
.bg-light-khak-color {
  background: var(--light-khak-color);
}
/* 背景顏色-深紅色 */
.bg-red-color {
  background: var(--red-color);
}
/* 背景顏色-淺紅色 */
.bg-light-red-color {
  background: var(--light-red-color);
}
/* 背景顏色-深藍色 */
.bg-blue-color {
  background: var(--blue-color);
}
/* 背景顏色-淺藍色 */
.bg-light-blue-color {
  background: var(--light-blue-color);
}
/* 背景顏色-深紫色 */
.bg-purple-color {
  background: var(--purple-color);
}
/* 背景顏色-淺紫色 */
.bg-light-purple-color {
  background: var(--light-purple-color);
}
/* 背景顏色-深橘色 */
.bg-orange-color {
  background: var(--orange-color);
}
/* 背景顏色-淺橘色 */
.bg-light-orange-color {
  background: var(--light-orange-color);
}

/* ------線條顏色-模組------ */
/* 綠色線 */
.border-green {
  border-color: #173c49;
  border: 3px;
}
/* 卡其色線 */
.border-khak {
  border-color: var(--khak-color);
  border: 3px;
}

/* ------按鈕-模組------ */
/* 綠色按鈕 */
.btn-green {
  background: var(--main-color);
  color: #fff;
  }
  .btn-green:hover,
  .btn-green:focus,
  .btn-green:active:hover {
  color: #fff;
  background: #205467;
  border-color: #205467;
  }
  .btn-green:visited {
  background: #205467;
  border-color: #205467;
  color: #fff;
  }


/* 卡其色按鈕 */
.btn-khak {
  background: var(--khak-color);
  color: #fff;
}
.btn-khak:hover {
  background: #93876d;
  border-color: #93876d;
  color: #fff;
}

/* 紅色按鈕 */
.btn-red {
  background: var(--red-color);
  color: #fff;
}
.btn-red:hover {
  background: #5a002a;
  border-color: #5a002a;
  color: #fff;
}

/* 淺藍綠色按鈕 */
.btn-grey {
  background: var(--light-green-color);
  color: #fff;
}
.btn-grey:hover {
  background: #538698;
  border-color: #538698;
  color: #fff;
}

/*  導覽列樣式 nav */
nav {
  background: url("icon/musical-note-decoration-bg.svg") scroll no-repeat bottom,
    linear-gradient(135deg, #122d3c 10%, var(--main-color) 100%);
  width: 100%;
  min-height: 100vh;
}
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.nav-active {
  background-color: #122d3c9e !important;
  color: #fff;
}
.nav-link:hover {
  background-color: #122d3c;
  color: #fff;
}
.nav-pills {
  --bs-nav-pills-link-active-bg: #fff;
}
.nav {
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: #fff;
}
.signOutLink {
  color: #fff;
  text-decoration: none;
}
.signOutLink:hover {
  color: #fff;
  text-decoration: none;
}

/* 表格樣式 table */
table {
  text-align: center;
}
table tr {
  vertical-align: middle;
  transition: 0.3s;
}
table tbody tr:hover {
  background-color: #e3d9c358;
}

/* 頁碼樣式 */
.pagination {
  --bs-pagination-color: #b0a58e;
  --bs-pagination-bg: #fff;
  --bs-pagination-border-color: #aaa;
  --bs-pagination-hover-color: #b0a58e;
  --bs-pagination-focus-color: #b0a58e;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem #afced790;
  --bs-pagination-active-bg: var(--khak-color);
  --bs-pagination-active-border-color: var(--khak-color);
}
.pagination a:hover {
  color: #fff;
  background-color: var(--khak-color);
}

/* .page-link.active:active {
  z-index: 3;
  color: var(--khak-color);
  background-color: var(--khak-color);
  border-color: var(--khak-color);
} */
